<main>
    <div class="main-container">
        <div class="post-details">
            <% if (is_post()) { %>
            <div class="post-title">
                <h1><%= page.title %></h1>
            </div>
            <div class="post-meta">
                <i class="fa-solid fa-clock"></i>&nbsp;<span class="post-date"><%= date(page.date, 'YYYY/MM/DD') %></span>
            </div>
            <% } %>
            <div class="post-content">
                <%- page.content %>
            </div>
        </div>
    </div>
</main>
<% if (theme.utterances && theme.utterances.enable && page.comments) { %>
<script src="https://utteranc.es/client.js"
    repo="<%= theme.utterances.repo %>"
    issue-term="<%= theme.utterances.issueTerm %>"
    theme="<%= theme.utterances.theme %>"
    crossorigin="anonymous"
    async>
</script>
<% if (theme.mathjax && theme.mathjax.enable) { %>
<script type="text/x-mathjax-config">
MathJax.Hub.Queue(function() {
    document.getElementsByTagName("body")[0].style.opacity = 1;
});
<% if (theme.mathjax.timeout) { %>
setTimeout(function() {document.getElementsByTagName("body")[0].style.opacity = 1;}, <%= theme.mathjax.timeout %>);
<% } %>
MathJax.Hub.Config({
    messageStyle: "none",
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"></script>
<% } %>
